<div>
  <div class='dashboardtitle'>
    <div class='dashboarduser'>
      <img src={{userAvatar}} alt=''>
      <h1 ><b>Welcome {{user}}!</b></h1>
    </div>
    <h3 >Here is a list of SCVNGR rooms you are currently in:</h3>
    <a class='facebookbutton' href='/auth/facebook'><b>Update your userprofile with facebook</b></a>
  </div>
  <table id="dashboardTable" class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Room #</th>
        <th>Date started</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="game in games track by $index" ng-click="goToGame(game.path)">
        <td>{{$index + 1}}</td>
        <td>joined {{game.usergame.createdAt | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>

</div>